##### References for spark setup and installation:
1. https://changhsinlee.com/install-pyspark-windows-jupyter/
2. https://github.com/jupyter/jupyter/issues/248
3. https://medium.com/@GalarnykMichael/install-spark-on-windows-pyspark-4498a5d8d66c

##### Things done revolving the error (Java gateway process exited before sending the driver its port number): 
1. Reinstalled Anaconda 3 and chosed "Add Anaconda to my PATH environment variable"
2. Installed Java 8 rather than the most updated Java 11

In [1]:
import os
import sys
#os.environ['SPARK_HOME'] = 'C:\spark\spark-2.3.2-bin-hadoop2.7'
#os.environ['JAVA_HOME'] = 'C:\Java8'
#os.environ['HADOOP_HOME'] = 'C:\spark\spark-2.3.2-bin-hadoop2.7'
#os.environ['PYSPARK_DRIVER_PYTHON'] = 'jupyter'
#os.environ['PYSPARK_DRIVER_PYTHON_OPTS'] = 'notebook'
#os.environ['PYSPARK_SUBMIT_ARGS'] = '--master local[5] pyspark-shell'

pyspark_submit_args = os.environ.get("PYSPARK_SUBMIT_ARGS", "")
if not "pyspark-shell" in pyspark_submit_args: pyspark_submit_args += " pyspark-shell"
os.environ["PYSPARK_SUBMIT_ARGS"] = pyspark_submit_args

print(os.environ['SPARK_HOME'])
print(os.environ['JAVA_HOME'])
print(os.environ['HADOOP_HOME'])
print(os.environ['PYSPARK_DRIVER_PYTHON'])
print(os.environ['PYSPARK_DRIVER_PYTHON_OPTS'])
print(sys.path)
print(os.environ['PYSPARK_SUBMIT_ARGS'])

import findspark
findspark.init()

import pyspark # only run after findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

C:\spark\spark-2.3.2-bin-hadoop2.7
c:\JAVA8
C:\spark\spark-2.3.2-bin-hadoop2.7
jupyter
notebook
['', 'C:\\spark\\spark-2.3.2-bin-hadoop2.7\\bin', 'C:\\Users\\Samuel\\Anaconda3\\python37.zip', 'C:\\Users\\Samuel\\Anaconda3\\DLLs', 'C:\\Users\\Samuel\\Anaconda3\\lib', 'C:\\Users\\Samuel\\Anaconda3', 'C:\\Users\\Samuel\\Anaconda3\\lib\\site-packages', 'C:\\Users\\Samuel\\Anaconda3\\lib\\site-packages\\win32', 'C:\\Users\\Samuel\\Anaconda3\\lib\\site-packages\\win32\\lib', 'C:\\Users\\Samuel\\Anaconda3\\lib\\site-packages\\Pythonwin', 'C:\\Users\\Samuel\\Anaconda3\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\Samuel\\.ipython']
 pyspark-shell

In [2]:
df = spark.sql('''select 'spark' as hello ''')
df.show()

+-----+
|hello|
+-----+
|spark|
+-----+

##### Reference for the following exercises:  
https://changhsinlee.com/pyspark-dataframe-basics/

In [3]:
import pandas as pd
sc = spark.sparkContext
data1 = {'PassengerId': {0: 1, 1: 2, 2: 3, 3: 4, 4: 5},
         'Name': {0: 'Owen', 1: 'Florence', 2: 'Laina', 3: 'Lily', 4: 'William'},
         'Sex': {0: 'male', 1: 'female', 2: 'female', 3: 'female', 4: 'male'},
         'Survived': {0: 0, 1: 1, 2: 1, 3: 1, 4: 0}}

data2 = {'PassengerId': {0: 1, 1: 2, 2: 3, 3: 4, 4: 5},
         'Age': {0: 22, 1: 38, 2: 26, 3: 35, 4: 35},
         'Fare': {0: 7.3, 1: 71.3, 2: 7.9, 3: 53.1, 4: 8.0},
         'Pclass': {0: 3, 1: 1, 2: 3, 3: 1, 4: 3}}

df1_pd = pd.DataFrame(data1, columns=data1.keys())
df2_pd = pd.DataFrame(data2, columns=data2.keys())
df1_pd

   PassengerId      Name     Sex  Survived
0            1      Owen    male         0
1            2  Florence  female         1
2            3     Laina  female         1
3            4      Lily  female         1
4            5   William    male         0

In [4]:
df2_pd

   PassengerId  Age  Fare  Pclass
0            1   22   7.3       3
1            2   38  71.3       1
2            3   26   7.9       3
3            4   35  53.1       1
4            5   35   8.0       3